@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: 700;
}

:root {
  /* color: #212121; */
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  font-family: "Roboto", charter;
}

header {
  font-size: 14px;
  color: var(--gray10);
}
a {
  color: var(--gray10);
}
header a {
  text-decoration: none;
}
nav details summary {
  font-weight: bold;
}

header a:hover {
  color: var(--gray30);
}

h1 {
  font-size: 3.75em;
  color: var(--gray30);
}

h2 {
  font-size: 2em;
}
h3,
h4 {
  font-size: 1.5em;
}
.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList);
}

.section-content h3::after {
  content: "";
  width: 32px;
  background-color: var(--gray30);
  height: 4px;
  display: inline-block;
}

/* hero */
.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../images/patron-1.png");
  height: 350px;
}
